<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<div class="container-sm text-center">
    <h3>Who developed this app?</h3>
    <br>
    <p> My Name is Joseph, I build applications to make end users more 
        effective at the use of a computer program,
        I built this programme to help you create strong user passwords that will be difficult to crack.
    </p>
    <br>
    <button type="button" class="btn btn-light"><a href="{% url 'home' %}">Home</a></button>
</div>

      